{% extends 'blogs/base.html' %}

{% block title %} Home {% endblock title %}

{% block content %}

<h1>Blogs</h1>

<ul>
    {% for blog in blogs %}
        <li>
            {{ blog.title }} <br>
            {{ blog.text }} <br>
            {{ blog.date_added }} <br>
            <a href="{% url 'blogs:edit_blog' blog.id %}">Edit blog</a>
        </li>
    {% empty %}
        <li>No Blogs have been added yet.</li>
    {% endfor %}
</ul>

<p><a href="{% url 'blogs:new_blog' %}">Create New Blog</a></p>

{% endblock content %}